[submodule "themes/AllinOne"]
	path = themes/AllinOne
	url = git@github.com:orianna-zzo/AllinOne.git
[submodule "themes/hugo-future-imperfect"]
	path = themes/hugo-future-imperfect
	url = git@github.com:jpescador/hugo-future-imperfect.git
[submodule "content"]
	path = content
	url = git@github.com:mikeroySoft/mrs-content.git